<div class="container">

  <%= form_for(@child) do |f| %>
    <% if @child.errors.any? %>
      <% @child.errors.full_messages.each do |error| %>
        <%= alert_generator error%>
      <%end%>
    <% end %>

    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <h1>Child  Information</h1>
          <hr>
          <fieldset class="form-group">
            <legend>Gender</legend>
            <div class="form-check">
              <label class="form-check-label">
                <%= f.collection_radio_buttons :gender_id, Gender.all, :id, :name, class:"form-check-input"%>
              </label>
            </div>
          </fieldset>
        </div>
        <div>
          <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
        </div>

        <div class="form-group">
          <%= f.text_field :Middle_initial, class: 'form-control', placeholder: 'Middle Initial' %>
        </div>

        <div class="form-group">
          <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
        </div>
        <div class="form-group">
          <%= f.text_field :grade, class: 'form-control', placeholder: 'Grade' %>
        </div>

        <div class="form-group">
          <%= f.text_field :child_address, class: 'form-control', placeholder: 'Address' %>
        </div>


        <div class="form-group">
          <%= f.text_field :date_of_birth, class: 'form-control', placeholder: 'Date of Birth' %>
        </div>

        <div class="form-group">
          <%= f.text_field :child_social_security, class: 'form-control', placeholder: 'Social Security' %>
        </div>

        <div class="form-group">
          <%= f.check_box :photagraphy, class: 'form-control', style: "width: 10%;"%>
          <%= f.label  "Can we take pictures of your child", style: "float: right;"%>
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-group">
          <h1>Medical Information</h1>
        </div>
        <hr>

        <div class="form-group">
          <%= f.text_field :pediatrician_name, class: 'form-control', placeholder: 'Pediatrician Name' %>
        </div>
        <div class="form-group">
          <%= f.text_field :pediatrician_phone, class: 'form-control', placeholder: 'Pediatrician Phone' %>
        </div>

        <div class="form-group">
          <%= f.text_field :pediatrician_address, class: 'form-control', placeholder: 'Pediatrician Address' %>
        </div>
        <div class="form-group">
          <%= f.text_area :medical_conditions, class: 'form-control', rows: 5, placeholder: 'Medical Conditions' %>
        </div>

        <div class="form-group">
          <%= f.text_field :allergies, class: 'form-control', placeholder: 'Allergies' %>
        </div>

      </div>
    </div>

    <div class="form-group">
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>

  <% end %>
</div>
