<div class="container">

  <%= form_for(@parent) do |f| %>
    <% if @parent.errors.any? %>
      <% @parent.errors.full_messages.each do |error| %>
        <%= alert_generator error%>
      <%end%>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <h1>Personal Information</h1>
          <hr>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :Middle_initial, class: 'form-control', placeholder: 'Middle Initial' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :home_phone, class: 'form-control', placeholder: 'Phone' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :cell_phone, class: 'form-control', placeholder: 'Cell Phone' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :custodial_parent, class: 'form-control', placeholder: 'Custodial Parent' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :mother_social, class: 'form-control', placeholder: 'Social' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :driver_license_number, class: 'form-control', placeholder: 'Driver License Number' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.collection_select :gender_id, Gender.all, :id, :name, { include_blank: false }, {class: "form-control"} %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.collection_select :marital_status_id, MaritalStatus.all, :id, :name, { include_blank: false }, {class: "form-control"} %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.collection_select :parent_type_id, ParentType.all, :id, :name, { include_blank: false }, {class: "form-control"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <h2>Work Information</h2>
          <hr/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :occupation, class: 'form-control', placeholder: 'Occupation' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :employed_by, class: 'form-control', placeholder: 'Employer' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :work_address, class: 'form-control', placeholder: 'Work address' %>
        </div>
      </div>
    </div>

    <div class="class row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.text_field :office_phone, class: 'form-control', placeholder: 'Office Phone' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.text_field :work_hours, class: 'form-control', placeholder: 'Work Hours' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Address</h2>
        <hr/>
      </div>
    </div>

    <div>
      <%= link_to_add_association 'Add Address', f, :addresses, class: "btn btn-primary" %>
    </div>
      <br/>
    <div class="form-group">
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
